{% extends "myapp/core_base2.html" %}
{% load static %}

{% block content %}
<!-- content overflow -->
<div class="flex flex-col w-5/6 fixed right-0 top-14 h-[calc(100vh-3.5rem)] px-4 py-4 overflow-y-auto overflow-hidden" id="content">
    <div class="flex flex-col m-2 bg-white rounded-md p-4 shadow-md z-10 mb-48 pb-20">
        <div class="flex flex-row justify-between items-center mb-2">
            <div class="flex flex-col space-y-2">
                <h1 class="text-2xl font-bold text-gray-700">{{ title }}</h1>
            </div>
            <div class="flex flex-row space-x-2">
                <form class="flex flex-row justify-center items-center" method="GET">
                    <!-- input -->
                    <input type="text" class="block w-full text-sm text-slate-500 rounded-md file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100 " placeholder="Search..." name="q" value="{{ request.GET.q }}">
                    <!-- button search image -->
                    <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700 ml-2" type="submit">
                        <i class="fas fa-search"></i>
                        <span class="ml-2">Search</span>
                    </button>
                </form>
                <!-- button upload image -->
                <a class="flex flex-row justify-center items-center bg-blue-200 hover:bg-blue-300 rounded-md px-4 py-2 text-gray-700" href="{% url 'myapp:imageUpload' %}">
                    <i class="fas fa-upload"></i>
                    <span class="ml-2">Upload</span>
                </a>
                <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
        <hr class="border-gray-200 mb-2">
        <div class="flex flex-col space-y-2">
            <!-- list Image Upload -->
            <div class="flex flex-row justify-between items-center">
                <div class="flex flex-row space-x-2">
                    <div class="flex flex-col space-y-1">
                        <h1 class="text-lg font-bold text-gray-700">Image Upload</h1>
                        <p class="text-sm text-gray-500">Here is a list of images that have been uploaded. You can add, edit, or delete them.</p>
                    </div>
                </div>
            </div>
            <!-- list Images Uploaded -->
            <div class="flex flex-row flex-wrap justify-center items-center space-x-2">
                {% for image in images %}
                <div class="flex flex-col justify-start items-center bg-gray-50 rounded-md p-2 shadow-md mb-2">
                    <!-- crate info in top right segmented -->
                    <div class="flex flex-row justify-end items-center space-x-2 mb-2 w-full">
                        <div class="flex flex-col space-y-1">
                            <!-- if segmented -->
                            {% if image.xsegmentation_result_id %}
                            <h1 class="text-sm font-bold text-gray-700">Segmented</h1>
                            <p class="text-xs text-gray-500">{{ image.xsegmentation_result_date }}</p>
                            {% else %}
                            <h1 class="text-sm font-bold text-gray-700">Not Segmented</h1>
                            <p class="text-xs text-gray-500">-</p>
                            {% endif %}
                        </div>
                        {% if image.xsegmentation_result_id %}
                        <div class="flex flex-row justify-center items-center bg-green-200 hover:bg-green-300 rounded-md px-4 py-2 text-gray-700 cursor-pointer">
                            <i class="fas fa-check"></i>
                        </div>
                        {% else %}
                        <div class="flex flex-row justify-center items-center bg-red-200 hover:bg-red-300 rounded-md px-4 py-2 text-gray-700 cursor-pointer">
                            <i class="fas fa-times"></i>
                        </div>
                        {% endif %}
                    </div>
                    <div>
                        <a class="" href="{% url 'myapp:imageSingle' image.id %}">
                            <img class="w-32 h-32 object-cover rounded-md cursor-pointer" src="{% static 'myapp/images/' %}{{ image.pathImage }}" alt="{{ image.pathImage }}">
                        </a>
                    </div>
                    <div class="flex flex-row justify-center items-center space-x-2 mt-2">
                        <a class="flex flex-row justify-center items-center bg-blue-200 hover:bg-blue-300 rounded-md px-4 py-2 text-gray-700" href="">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="flex flex-row justify-center items-center bg-red-200 hover:bg-red-300 rounded-md px-4 py-2 text-gray-700" href="">
                            <i class="fas fa-trash"></i>
                        </a>
                        <!-- if not yet segmented the segmentation button out -->
                        {% if not image.xsegmentation_result_id %}
                        <a class="flex flex-row justify-center items-center bg-green-200 hover:bg-green-300 rounded-md px-4 py-2 text-gray-700" href="">
                            <!-- icon segment -->
                            <i class="fas fa-crop"></i>
                        </a>
                        {% else %}
                        <!-- View segmentation reports -->
                        <a class="flex flex-row justify-center items-center bg-green-200 hover:bg-green-300 rounded-md px-4 py-2 text-gray-700" 
                        href="{% url 'myapp:imageSingle' image.id %}">
                            <i class="fas fa-eye"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <!-- if no image -->
                {% if images|length == 0 %}
                <div class="flex flex-col justify-center items-center bg-gray-50 rounded-md p-2 shadow-md mb-2">
                    <div class="flex flex-row justify-center items-center space-x-2">
                        <div class="flex flex-col space-y-1">
                            <h1 class="text-sm font-bold text-gray-700">No Image <span class="text-red-500">:(</span></h1>
                            <p class="text-xs text-gray-500">There are no images uploaded yet. with query <span class="font-bold">"{{ request.GET.q }}"</span></p>
                        </div>
                    </div>
                    <img class="w-32 h-32 object-cover rounded-md cursor-pointer" src="{% static 'myapp/assets/' %}no-image.png" alt="No Image">
                </div>
                {% endif %}
            </div>
            <!-- pagination with first, prev, next, last and number position end -->
            <div class="flex flex-row justify-between items-center space-x-2">
                <!-- total page -->
                <div class="flex flex-row justify-center items-center space-x-2">
                    <p class="text-sm text-gray-500">Page {{ images.number }} of {{ images.paginator.num_pages }}</p>
                </div>
                <div class="flex flex-row justify-center items-center space-x-2 mt-4">
                    <a class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700" href="{% url 'myapp:image' %}?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                    <!-- if page=1 -->
                    <a class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700" href="{% if images.has_previous %}?page={{ images.previous_page_number }}{% else %}?page=1{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                        <i class="fas fa-angle-left"></i>
                    </a>
                    <!-- The number page that appears is only the current number, the previous, the next and the slightly back and forth and add ... -->
                    {% for i in images.paginator.page_range %}
                    {% if images.number == i %}
                    <a class="flex flex-row justify-center items-center bg-blue-200 hover:bg-blue-300 rounded-md px-4 py-2 text-gray-700" href="{% url 'myapp:image' %}?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                        {{ i }}
                    </a>
                    {% elif i > images.number|add:'-3' and i < images.number|add:'3' %}
                    <a class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700" href="{% url 'myapp:image' %}?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                        {{ i }}
                    </a>
                    {% elif i == images.number|add:'-3' and i > 1 %}
                    <a class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700">
                        ...
                    </a>
                    {% elif i == images.number|add:'3' and i < images.paginator.num_pages %}
                    <a class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700">
                        ...
                    </a>
                    {% endif %}
                    {% endfor %}
                    <!-- end number page -->
                    <a class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700" href="{% if images.has_next %}?page={{ images.next_page_number }}{% else %}?page={{ images.paginator.num_pages }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                        <i class="fas fa-angle-right"></i>
                    </a>
                    <a class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700" href="{% url 'myapp:image' %}?page={{ images.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </div>
                <!-- total data -->
                <div class="flex flex-row justify-center items-center space-x-2">
                    <p class="text-sm text-gray-500">Total {{ images.paginator.count }} data</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}